@import '../../App.css';

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li {
  margin: 40px;
}
